<div id="{{ .Get 0 }}-swagger"></div>
<script src="/openapi.js"></script>
<script>
    (function () {
        function initSwagger() {
            let docs = document.getElementById("test-swagger")
            let swagger_config = SwaggerUIBundle({
                "domNode": docs,
                "url": "https://sandbox.bluebutton.cms.gov/v1/openapi.json",
                "oauth2RedirectUrl": window.location.href,
                "plugins": [ OperationsLayoutPlugin ],
                "layout": "OperationsLayout",
                "requestInterceptor": (req) => {
                    params = new URLSearchParams(window.location.hash.substr(1))
                    token = params.get("access_token")
                    if (token !== null) {
                        req.headers.Authorization = "Bearer " + token
                    }
                    return req
                },
            })
            console.debug(swagger_config)
        }
        window.addEventListener('DOMContentLoaded', initSwagger);
    }())
</script>
